/* The sidebar menu */
.sidenav {
    height: 900px; /* Full-height: remove this if you want "auto" height */
    background-color: #111; /* Black */
  }
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
    text-decoration: underline white;
    text-decoration: underline white; 
  }
  /* Style page content */
  .main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#sideTitle{
  color: white;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
} 
.subrayado{
  color: white !important;
  text-decoration: underline white !important;
  text-decoration: underline white !important;           
}
/*----------------------------------------- Codigo de Home ------------------------------------*/
.Lista-footer-home, .Lista-main-home{
  list-style: none;
}
.Lista-footer-home li{
  display: inline;
}
.Lista-footer-home li a{
  text-decoration: none;
  color: black;
}

.Lista-footer-home li a:hover{
  text-decoration: underline;
  text-decoration-color: grey;
}
/*----------------------------------------- Codigo de Home Cuentas ------------------------------------*/
.price {
  color: grey;
  font-size: 22px;
}
.card-Button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card-Button:hover {
  opacity: 0.7;
}
#cuentas{
  padding: 20px;
}
/*----------------------------------------- Codigo de Home Inversiones ------------------------------------*/

/*----------------------------------------- Codigo de Home Servicios ------------------------------------*/
.nombre-servicio{
  color:black;
  vertical-align: auto;
}

.aclaracion-servicio{
  color: grey;
  font-weight: bold;
  font-style: oblique;
}

.detalles-servicio{
  color: black;
  font-weight: bolder;
  text-align: left;
}
/*----------------------------------------- Codigo de Home Tarjetas ------------------------------------*/
.imgDelaCarta{
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 190px;
}

.imgDelaCarta1{
  background-image: url("/imagen/BBVA.png");
  border-radius: 10px !important;

}

.imgDelaCarta2, .imgDelaCarta3{
  background-image: url("/imagen/Visa-Espana.png");
  
}

.imgDelaCarta1 h5, .imgDelaCarta1 p {
  color: white;
}
.imgDelaCarta2 h5, .imgDelaCarta2 p , .imgDelaCarta3 h5, .imgDelaCarta3 p {
  color: black;
}
.cardTarjetas2{
  box-shadow: none !important;
}
.cardTarjetas{
  border-style: none !important; 
  box-shadow: none !important;
} 
/*----------------------------------------- Codigo de Home Tarjetas-Movimientos ------------------------------------*/

/*----------------------------------------- Codigo de Home Transferencias ------------------------------------*/
.card-title{
  font-size: 21px;
}
.imagen-contacto{
width: 25px;
border-radius: 50%;
height: 25px;
margin-right: 10px;
}
#listaContato, #listasComprobantes{
list-style-type: none;
margin: 0;
padding: 0;
}
/*--- Codigo de boostrap NO SE TOCA MAS ------------*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

/*----------------------------------------- Codigo de Home ------------------------------------*/
#saldo{
  background-color: #1a2537 !important;
  margin: auto;
  width: 100%S;
}

/*----------------------------------------- Media Querys.. ------------------------------------*/
@media (max-width:600px){ 
  .card{
    width: 100%;
    border-radius: 0px;
  } 
}