*{
    box-sizing: border-box;
}
body{
    background-image: url(../imagen/fondo.jpg)!important;
    background-repeat: no-repeat;
    background-size: cover;
}
header, footer{
    background-color:   #F7F7F7;
}
.nav-hover{
    margin: 0px 40px 0 40px;
}
.nav-hover a:hover{
    text-decoration: underline;
    text-decoration-color: grey;
}
.img-header, .img-footer{
    height: 70px;
    margin: 0 20px;
}
.section-title{
    height: 700px;
    text-align: center;
}
.section-title h1{
    font-family: 'Cormorant Garamond', serif;
    -webkit-text-stroke: 2px white;
    font-weight: bold;
    font-size: 120px;
    margin: 0 20px;
    color: white;
}
.Lista-footer{
    list-style:none;
    margin: 0;
}
.footer-index{
    height: 200px;
}
/*----------------------------------------- Codigo de Index Quienes Somos ------------------------------------*/
.section-indexQuienesSomos{
    background-color: rgb(192, 192, 192);
}
.img-Index-QuienesSomos{
    margin-left: 200px;
}
.img-Index-QuienesSomos img{
    border-radius: 5px;
}
.align-text-left{
    text-align: left;
}
.title-index-QuienesSomos{
    font-size: 52px;
}
.subtitle-index-QuienesSomos{
    color: #F7F7F7;
    font-size: 25px;
}

/*----------------------------------------- Media Querys  ------------------------------------*/

@media all and (min-width: 600px) and (max-width: 1023px) {
    .section-title{
        height: 500px;
    }
    .footer-index{
        height: 120px;
    }   
}

@media all and (max-width: 599px) {
    .section-title{
        height: 300px;
    }

    .section-title h1{
        font-size: 80px;
    }

    .nav-hover a{
        font-size: 15px;
        display: block ;
    }

    .img-header{
        opacity: 0 ;
        display: none;
    }

    .nav-hover{
        display: block !important;
        text-align: center;
    }
    
}
