.nombre-servicio{
    color:black;
    vertical-align: auto;

}

.aclaracion-servicio{
    color: grey;
    font-weight: bold;
    font-style: oblique;
}

.detalles-servicio{
    color: black;
    font-weight: bolder;
    text-align: left;

}