.titulo{
    block-size: auto;
    width: 350px;
}
.card-title{
    font-size: 30px;
    text-align: center;
}
.imagen-contacto{
  width: 25px;
  border-radius: 50%;
  height: 25px;
  margin-right: 10px;
}
#listaContato, #listasComprobantes{
  list-style-type: none;
  margin: 0;
  padding: 0;
}