body{
    background-image: url(./imagen/fondo.jpg)!important; 
}
.Lista-footer{
    background-color:white;
    list-style:none;
    border-radius: 25px
}

#tituloNav {

    color:white;
    text-align: center;
}

p {

    color: white;
}

#imagenLogo {

    border-radius: 25px
}