{% extends 'login/Home/HomeIndex.html' %}
{% block content %}
<div class="col-4">
    <div class="card" id="cuentas">
        <h3> Caja Ahorro <b>Pesos</b> </h3>
        <p class="price">$10000,00</p>
        <p>N° 8527963-0 007-9</p>
        <a href="/Components/Home/Movimientos.html" class="card-Button">Ver Movimientos</a>
    </div>
</div>

<div class="col-4">
    <div class="card" id="cuentas">
        <h3>Caja Ahorro <b>Dolares</b> </h3>
        <p class="price">U$D1000,00</p>
        <p>N° 3469875-0 004-5</p>
        <a href="/Components/Home/Movimientos.html" class="card-Button">Ver Movimientos</a>
    </div>
</div>
{% endblock %}